{% load static from staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

        <title>{% block page_title %}Tristano - {% endblock page_title %}</title>

        <!-- Bootstrap core CSS -->
        {% compress css %}
          <link href="{% static 'styles/css/app.css' %}" rel="stylesheet">
          <link href="{% static 'styles/css/bootstrap_theme.css' %}" rel="stylesheet">
        {% endcompress %}


        {% compress js %}
            <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
            <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
            <script src="{% static 'bower_components/angular/angular.js' %}"></script>
            <script src="{% static 'bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js' %}"></script>

            <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
            <script src="{% static 'js/angular/app.js' %}"></script>
            <script src="{% static 'js/angular/books/controllers.js' %}"></script>
        {% endcompress %}

        {% block extra_head %}{% endblock %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

      <base href="/" />
    </head>

    <body role="document" ng-app="Tristano">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tristano</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/" target="_self">Home</a></li>
            <li><a href="/api/books" target="_self">API Data</a></li>
            <li><a href="/books">Angular Data View</a></li>
            <li><a href="{% url 'books_list_static' %}" target="_self">CBV generic list</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">

                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile_detail' user %}" target="_self">{{user.username}}</a></li`>
                    <li><a href="{% url 'profile_update' %}" target="_self">Edit Profile</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="{% url 'account_logout' %}" target="_self">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}" target="_self">Log In</a></li>
                {% endif %}

              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>

        <div class="container theme-showcase" role="main">

            {% if messages %}
                <div class="row">
                  <div class="col-xs-12">
                      {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                            <strong>{{ message }}</strong>
                        </div>
                      {% endfor %}
                  </div>
                </div>
            {% endif %}

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                {% block content %}
                {% endblock content %}
            </div>

        </div> <!-- /container -->

    </body>
</html>
