{% load static from staticfiles %}
{% load compress %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta name="viewport" content="initial-scale=1.0" />

    <title>{% block page_title %}Tristano - {% endblock page_title %}</title>

    {% compress css %}
        <link href="{% static 'styles/css/app.css' %}" rel='stylesheet' />
    {% endcompress %}

    {% compress js %}
        <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
        <script src="{% static 'bower_components/angular/angular.js' %}"></script>
        <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
        <script src="{% static 'js/angular/app.js' %}"></script>
        <script src="{% static 'js/angular/books/controllers.js' %}"></script>
    {% endcompress %}

    {% block extra_head %}{% endblock %}
  </head>

  <body ng-app="Tristano">

    {% if messages %}
    <div class="row">
      <div class="large-12 columns">
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

  	<div class="row">
  		<div class="large-12 columns">
            <p>
              <a href="/">Home</a> |
              <a href="/api/books">API Data</a> |
              <a href="/books">Angular Data View</a> |
      		  	{% if user.is_authenticated %}
          		  	<a href="{% url 'profile_detail' user %}">{{user.username}}</a> |
                    <a href="{% url 'profile_update' %}">Edit Profile</a> |
                    <a href="{% url 'account_logout' %}">Log out</a>
      		  	{% else %}
                    <a href="{% url 'account_login' %}">Log In</a>
      		  	{% endif %}
            </p>
  		</div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    {% compress js %}
    <script>
        $.getScript("{% static 'bower_components/foundation/js/foundation.js' %}", function(){
            $(document).foundation();
        });
    </script>
    {% endcompress %}

  </body>
</html>
