form {
	label {
		font-size: rem-calc(20);
	}

	p.helptext {
		margin-top: rem-calc(-15);
		font-size: rem-calc(15);
	}

	textarea {
		height: rem-calc(140);
		font-size: rem-calc(20);
		color: $textarea-color;
	}
}
