ul.messages {
  li {

    list-style: none;
    margin-left: rem-calc(-40);
    padding: 10px;

    &.success {
      background: #bff2f3;
    }

    &.error {
      background: #c51324;
    }

    &.info {
      background: #e4f388;
    }

    &.warning {
      background: #63d5f3;
    }

  }
}
