{% extends "page_base.html" %}
{% load markdown_deux_tags %}

{% block page_title %}{{ block.super }}{{profile.display_name}}'s Profile{% endblock page_title %}

<div class="row">
{% block content %}

	<div class="row">
		<div class="large-12 columns">
			<h2 class="subheader">{{profile.display_name}}'s Profile</h2>

			<p><img src="{{profile.social_avatar_url}}" /></p>

			<h3>Bio:</h3>
			{{profile.bio|markdown}}

			<h3>Influences:</h3>
			{{profile.influences|markdown}}

		</div>
	</div>

{% endblock content %}
</div>
