{% extends "page_base.html" %}

{% block page_title %}{{ block.super }}Edit Profile{% endblock page_title %}

<div class="row">
{% block content %}

    <div class="row">
        <div class="cols-xs-12">
            <h2>Editing {{profile.display_name}}'s Profile</h2>

            <p><small><strong>Formatting:</strong> HTML/Javascript will be removed. You can format your text with <a href="http://blog.lib.umn.edu/crosb002/leadership/Markdown_Cheat_Sheet.pdf" target="_blank">markdown</a>.</small></p>

            <form role="form" action="{% url 'profile_update' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>{{form.bio.label}}</label>
                    <textarea id="id_bio" name="bio" class="form-control" rows="4" placeholder="{{form.bio.help_text}}">{{form.bio.value}}</textarea>
                </div>

                <div class="form-group">
                    <label>{{form.influences.label}}</label>
                    <textarea id="id_influences" name="influences" class="form-control" rows="4" placeholder="{{form.influences.help_text}}">{{form.influences.value}}</textarea>
                </div>

              <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>
    </div>

{% endblock content %}
</div>

