ul.messages {
  li {

    list-style: none;
    margin-left: rem-calc(-40);
    padding: rem-calc(20);

    &.success {
      background: $success-color;
    }

    &.error {
      background: $error-color;
    }

    &.info {
      background: $info-color;
    }

    &.warning {
      background: $warning-color;
    }

  }
}
